#page-mod-quiz-edit ul.slots li.section li.activity .activityinstance {
    position: relative;
}
#page-mod-quiz-edit ul.slots li.section li.activity {
	position: absolute;
	padding: 15px;
	border: 1px solid #2e6f9a;
}
#page-mod-quiz-edit ul.slots li.section ul.section {
	position: relative;
	height: 800px;
	overflow: auto;
}

.ep {
    position: absolute;
    bottom: 37%;
    right: 5px;
    width: 1em;
    height: 1em;
    background-color: orange;
    cursor: pointer;
    box-shadow: 0 0 2px black;
    -webkit-transition: -webkit-box-shadow 0.25s ease-in;
    -moz-transition: -moz-box-shadow 0.25s ease-in;
    transition: box-shadow 0.25s ease-in;
}

.ep:hover {
    box-shadow: 0 0 6px black;
}

